@model ProjectYu.Models.LoginedUserModel

@if (Model.loggedIn == false)
{
    <table style="width:100%">
        <tr>
            <td align="left">
                <div align="center">
                    <i class="fa fa-bars" style="font-size:36px;"></i>
                </div>
            </td>
            <td align="center">
                <input type="text" placeholder="Search.." name="search" id="autosearch" style="overflow-y:auto;"><button type="submit"><i class="fa fa-search"></i></button>
            </td>
            <td align="right">
                @using (Html.BeginForm("Index", "Login"))
                {
                    @Html.HiddenFor(x => x.loggedIn)
                    @Html.HiddenFor(x => x.UserModel.Birthday)
                    @Html.HiddenFor(x => x.UserModel.BlockedUserListID)
                    @Html.HiddenFor(x => x.UserModel.ChannelID)
                    @Html.HiddenFor(x => x.UserModel.Email)
                    @Html.HiddenFor(x => x.UserModel.FavoriteListID)
                    @Html.HiddenFor(x => x.UserModel.HistoryListID)
                    @Html.HiddenFor(x => x.UserModel.IsActive)
                    @Html.HiddenFor(x => x.UserModel.LikedVideoListID)
                    @Html.HiddenFor(x => x.UserModel.listOfFavorites)
                    @Html.HiddenFor(x => x.UserModel.listOfFavorites.FavoritesListID)
                    @Html.HiddenFor(x => x.UserModel.PassWord)
                    @Html.HiddenFor(x => x.UserModel.SubscriberListID)
                    @Html.HiddenFor(x => x.UserModel.UserId)
                    @Html.HiddenFor(x => x.UserModel.UserName)
                    @Html.HiddenFor(x => x.UserModel.WatchLaterListID)

                    for (int i = 0; i < Model.NewVideosModel.listofVideos.Count; i++)
                    {
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].CommentListID)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].CreatedbyUserID)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].CreatedDateTime)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].DeletedByUserID)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].DeletedDateTime)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].DislikesCount)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].FileName)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].LikesCount)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].Rating)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].VideoID)
                        @Html.HiddenFor(x => x.NewVideosModel.listofVideos[i].VideoName)
                    }

                    for (int i = 0; i < Model.UserModel.listOfFavorites.listOfMVideoModels.Count; i++)
                    {
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].CommentListID)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].CreatedbyUserID)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].CreatedDateTime)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].DeletedByUserID)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].DeletedDateTime)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].DislikesCount)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].FileName)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].LikesCount)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].Rating)
                        @Html.HiddenFor(x => x.UserModel.listOfFavorites.listOfMVideoModels[i].VideoID)
                    }

                    <div align="center"><input id="loginButton" type="submit" value="Sign In" /></div>
                }
            </td>
            </tr>
        </table>
                }
                else
                {
                <table style="width:100%">
                    <tr>
                        <td align="left">
                            <div align="center">
                                <i class="fa fa-bars" style="font-size:36px;"></i>
                            </div>
                        </td>
                        <td align="center">
                            <input type="text" placeholder="Search.." name="search" id="autosearch" style="overflow-y:auto;"><button type="submit"><i class="fa fa-search"></i></button>
                        </td>
                        <td align="right">
                            <ul style="list-style-type:none">
                                <li><a asp-area="" asp-controller="MyChannel" asp-action="Index">My Channel</a></li>


                                <li>
                                    <a asp-area="" asp-controller="Favorites" asp-action="Index">FavoritesList</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="WatchLater" asp-action="Index">Watch Later List</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                                </li>
                                <li><a asp-area="" asp-controller="MyAccount" asp-action="Index">My Account</a></li>
                                <li><a asp-area="" asp-controller="VideoUpload" asp-action="Index">Add Video</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
                }
